<!DOCTYPE html>
<html>
<head>
  <title>AngularjsScaffold</title>
  <%= stylesheet_link_tag    "angularjs_scaffold/application", media: "all" %>
  <%= javascript_include_tag "angularjs_scaffold/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
